@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@font-face{
  font-family: 'averta-demo';
  src: url('./assets/averta-demo-font/AvertaDemoPE-Regular.otf') format('truetype');

}



:root {
  --averta-demo: 'averta-demo';
}

.font-pp-mori{
  font-family: var(--averta-demo);
}

.font-jakarta{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

