
@import "tailwindcss";

body {
   position: absolute;
   inset: 0;
   z-index: -10;
   min-height: 100vh;
   width: 100%;
   background-color: #060606;
   background-image: linear-gradient(to right, #0F0F0F 1px, transparent 1px), linear-gradient(to bottom, #0F0F0F 1px, transparent 1px);
   background-size: 6rem 6rem;
}

/* body {
  position: absolute;
  top: 0;
  z-index: -2;
  min-height: 100vh;
  width: 100%;
  background: black;
  background-image: radial-gradient(
    100% 50% at 50% 0%,
    rgba(0, 163, 255, 0.13) 0%,
    rgba(0, 163, 255, 0) 50%,
    rgba(0, 163, 255, 0) 100%
  );
} */